<!doctype html>
<html lang="en" data-theme="cupcake" style="scroll-padding-top: 5rem; scroll-behavior: smooth;">
    <head>
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
        <link rel="shortcut icon" href="/assets/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Uptime Ferris" />
        <link rel="manifest" href="/assets/site.webmanifest" />
        <title>Uptime Ferris</title>
        {% block head %}{% endblock %}
    </head>
    <body style="font-family: Outfit, Noto Sans JP, Noto Sans, Vazirmatn, sans-serif;">
        <div class="navbar sticky bg-base-100 shadow-sm">
            <!--Logo + Name-->
            <div class="flex-1">
                <a href="/" aria-current="page" aria-label="Homepage" class="btn btn-ghost flex-1 px-2">
                    <img src="/assets/logo.svg" width="45" heigth="45" alt="uptime ferris logo">
                    <div class="font-title text-lg">Uptime Ferris</div>
                </a>
            </div>
            <!--Theme Switcher-->
            <div class="flex-none pr-2">
                <label class="toggle text-base-content">
                  <input type="checkbox" value="aqua" class="theme-controller" />
                  <svg aria-label="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path d="m19.07 4.93-1.41 1.41"></path></g></svg>
                  <svg aria-label="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></g></svg>
                </label>
            </div>
            {% if logged_in %}
            <div class="dropdown dropdown-end pr-2">
                  <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar avatar-placeholder">
                       <div class="bg-neutral text-neutral-content w-10 mask mask-hexagon">
                            <span>T</span>
                      </div>
                 </div>
                  <ul tabindex="0"class="menu menu-sm dropdown-content text-center bg-base-100 rounded-box z-5 mt-3 w-auto p-2 shadow">
                        <li><a>Profile</a></li>
                        <li><a>Settings</a></li>
                        <li><a>Logout</a></li>
                  </ul>
            </div>
            {% endif %}
        </div>
        <div class="bg-base-100 grid v-screen place-items-center mt-2">
            {% block content %}
            <p>Placeholder content</p>
            {% endblock %}
        </div>
    </body>
</html>
