{% extends "base.html" %} {% block content %}
<div class="navbar bg-base-100 shadow-sm">
  <a class="btn btn-ghost text-xl">Uptime Ferris</a>
</div>
<form action="/websites" method="POST">
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Url</legend>
        <input name="url" placeholder="https://website.com" required class="input"/>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Alias</legend>
        <input name="alias" placeholder="Alias" required class="input" />
    </fieldset>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
<div class="website-list">
    {% for log in logs %}
    <div class="website">
        <h2 class="website-name">{{log.alias}} - {{log.url}}</h2>
        <div>
            Last 24 hours: {% for timestamp in log.data %} {% match
            timestamp.uptime_pct %} {% when Some with (100) %}
            <div class="tooltip">
                🟢
                <span class="tooltiptext"
                    >{{timestamp.time}} Uptime:
                    {{timestamp.uptime_pct.unwrap()}}%</span
                >
            </div>
            {% when None %}
            <div class="tooltip">
                ⚪
                <span class="tooltiptext"
                    >{{timestamp.time}} No data here :(</span
                >
            </div>
            {% else %}
            <div class="tooltip">
                🔴
                <span class="tooltiptext"
                    >{{timestamp.time}} Uptime:
                    {{timestamp.uptime_pct.unwrap()}}%</span
                >
            </div>

            {% endmatch %} {% endfor %}
        </div>
        <div>
            <a href="/websites/{{log.alias}}" class="view-button">View</a>
            <button
                hx-delete="/websites/{{log.alias}}"
                class="btn btn-error"
                hx-confirm="Are you sure you want to stop tracking this website?"
                hx-target="closest .website"
                hx-swap="outerHTML"
            >
                Delete
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
